{% extends "Base.html" %}

{% block content %}
<main class="container">
  <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="{{ back }}" role="button" class="secondary"> Return</a></li>
        </ul>
  </nav>
    <form method="POST" action="/tag">
        <div style="padding: 10px">
          <label> Please enter a new tag name: </label>
            <input type="text" name="tags" required />
          </label>
        </div>
        <div class="grid">
          <button type="reset" class="secondary">Reset</button>
          <button type="submit">Submit</button>
        </div>
    </form>
</main>
{% endblock %}